html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

svg>path{
  fill:inherit;
}

.lowercase{
  text-transform: none!important;
}

.MuiPaper-rounded{
  border-radius: 8px !important;
}

.slide{
  background: none !important;
}